/* Content */

/** Welcome **/
.welcome {
    /*display: grid;*/
    font-size: 1em;
    /*justify-content: center;
    align-items: center;*/
    font-weight: 100;
    margin-bottom: 1.5em;

}

.poem {
    /*display: inline-block;
    margin-left: auto;
    margin-right: auto;
    grid-column: 1/1;
    grid-row: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;*/
    text-align:center;
    
}

.poet {
    text-align: right;
    margin: 1em;
    align-self: flex-end;
}

.job {
    font-size: 0.75em;
}

.job a {
    color: #2d3c49;
    text-decoration: none;
}

.job a:hover{
	color: #366185;
	text-decoration: underline;
}

.stanza::before {
    content: "\201C";
    
}

.stanza::after {
    content: "\201D";
}

/**landing image **/
.landing {
    display: grid;
    justify-items: center;

    /**** appearance  ****/
    padding-bottom: 1.25em;
    grid-column: 1/1;
    grid-row: 1/1;
    opacity: 0.1;
}

.landing-img {
    width: 100%;
    height: auto;
}

.featured h2 {
    padding: 0.5em;
    margin: 0;
}

.featured-heading {
    color: #366185;
    font-size: 2em;
    font-weight: 100;
}

.featured-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.featured-app {
    list-style: none;
    max-width: 300px;
    margin: 0.5em;
}

.featured-app :hover {
    transform: scale(1.05);
    text-decoration: underline;
    color: #366185;
}

.featured-img {
    width: 100%;
}

.featured-app-name {
    text-align: center;
    color: #366185;
    
}

.featured-app-link {
    text-align: center;
    
}

.featured-app a{
    text-decoration: none;
}


/* Responsive */
@media only screen and (min-width: 541px) and (max-width: 768px) {
    .welcome {
        font-size: 2em;
    }

}

@media only screen and (min-width: 769px) {


    .welcome {
        font-size: 2.5em;
    }

    .landing-img {
        max-width: 100%;
        width: auto;
    }

}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     /* IE10+ CSS styles go here */
     /** Welcome **/
    .welcome {
    	display: -ms-grid;

      }
      
      .poem {
      	-ms-grid-column: 1;
      	-ms-grid-row: 1;
      }
      
      /**landing image **/
    .landing {
    	display: -ms-grid;

    	/**** appearance  ****/
    	-ms-grid-column: 1;
    	-ms-grid-row: 1;
	}
}