body {
    /*font-family: "Roboto", Helvetica, sans-serif, Arial;*/
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: 0.1em;
    color: #2d3c49;
    font-weight: 100;
    background: #fefefe;
    line-height: 1.75;
}

section, article{
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
}

p{
    line-height: 1.75;
}

/* Header */
.heading {
    /*display: grid;
    grid-template-columns: 1fr 3fr;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    /**** appearance  *******/
    border-bottom: solid #366185;
    padding: 1em 0 1.75em 0;
}

.title {
    /*justify-self: end;*/
    /*align-self: flex-end;*/
    

    /**** appearance   ****/
    color: #366185;
    text-align: right;
    margin-top: 0.5em;
}

/*.title h1,
h2 {
    padding: 0.25em;
    margin: 0;
}*/


h1{
    font-size: 2em;
    font-weight: 100;
}

h2{
    font-size: 1.75em;
    font-weight: 100;
}
h3{
    font-size: 1.5em;
    font-weight: 100;
}
h4{
    font-size: 1.25em;
    font-weight: 100;
}
h5{
    font-size: 1.15em;
    font-weight: 100;
}
h6{
    font-size: 1em;
    font-weight: 100;
}


.name {
    font-weight: 100;
    font-size: 1.5em;
}

.name-description {
        font-size: 1em;
}

.menu {
    font-size: 1.25em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0.5em;
    border-bottom: double #366185;
}

.menu a {
    color: #2d3c49;
    font-weight: 100;
    text-decoration: none;
    margin: 0.5em;
    /*text-decoration-color: #7d97ad;*/
}

.menuitem :hover {
    transform: scale(1.05);
    text-decoration: underline;
    text-decoration-color: #366185;
    color: #366185;
    


}

.menuitem {
    list-style-type: none;
    padding: 1em;
    margin: 0.25em;
    text-transform: uppercase;
}

.menu .active {
    background: #366185;
    
}

.menu .active a {
    color: white;
    text-decoration: none;
    outline-color: white;
}

.logo {
    /*align-self: flex-end;*/
}

.logo a {
    color: #366185;
    text-decoration: none;
}

.logo-img {
    width: 1em;
    height: 1em;
    padding: 0 0.5em 0 0.5em;
}

/* Content */

main {
    padding-top: 1.75em;
    padding-bottom: 1.75em;

}

/* Breadcrumbs */
.breadcrumb {
    color: #366185;
}

.breadcrumb::after {
    font-family: "Times New Roman", Arial, Helvetica, Times, serif;
    content: "\2192";
}

a.breadcrumb::after {
    text-decoration: none;
}

a.breadcrumb:hover {
    /*text-decoration: underline;*/
}

.footer {
    margin-top: 2em;
    padding-top: 2em;
    text-align: center;
    border-top: solid #366185;

}

/* Responsive */
@media only screen and (min-width: 541px) and (max-width: 768px) {
    /*.featured-list {
        grid-template-columns: 1fr 1fr;
    }*/

    .name {
        font-size: 2em;
    }
    
    .name-description {
        font-size: 1.25em;
    }

   
    .logo-img {
        width: 1.5em;
        height: 1.5em;
    }

}

@media only screen and (min-width: 769px) {
    /* .featured-list {
        grid-template-columns: 1fr 1fr 1fr;
    }*/

    .name {
        font-size: 2.5em;
    }
    
   .name-description {
        font-size: 1.5em;
    }

   
    .logo-img {
        width: 2em;
        height: 2em;
    }
    


}