body {
    /*font-family: "Roboto", Helvetica, sans-serif, Arial;*/
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: 0.17em;
    color: #2d3c49;
    font-weight: 100;
}

section,
article {
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
}

p {
    line-height: 1.5;
}

/* Header */
.heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    /**** appearance  *******/
    border-bottom: solid #366185;
    padding: 1.75em 0 1.75em 0;
    width: 100%;

}

.title {

    /**** appearance   ****/
    color: #2d3c49;
    text-align: right;
    align-self: flex-end;
    margin-top: 0.5em;
}

.title h1,
h2 {
    padding: 0.25em;
    margin: 0;
}

h2 {
    font-weight: 100;
}

h1 {
    font-size: 3.25em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 1em;
}

.name {
    font-weight: 100;
    font-size: 1.5em;

}



.menu {
    font-size: 1.25em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0.5em;
    border-bottom: double #366185;
}

.menu a {
    color: #2d3c49;
    font-weight: 100;
    text-decoration: none;
    margin: 0.5em;
    /*text-decoration-color: #366185;*/
}

.menuitem :hover {
    transform: scale(1.05);
    text-decoration: underline;
    text-decoration-color: #366185;
    color: #366185;


}

.menuitem {
    list-style-type: none;
    padding: 1em;
    margin: 0.25em;
    text-transform: uppercase;
}

.menu .active {
    background: #366185;
}

.menu .active a {
    color: white;
    text-decoration: none;
}

.logo {
    align-self: center;
}

.logo a {
    color: #366185;
    text-decoration: none;
}


.logo-img {
    width: 1em;
    height: 1em;
    padding: 0 0.5em 0 0.5em;
}

/* Content */

main {
    padding-top: 1.75em;
    padding-bottom: 1.75em;

}

.footer {
    margin-top: 2em;
    padding-top: 2em;
    text-align: center;
    border-top: solid #366185;

}

/* Breadcrumbs */
.breadcrumb {
    color: #366185;
}

.breadcrumb::before {
    font-family: "Times New Roman", Arial, Helvetica, Times, serif;
    content: "\00AB";
}

a.breadcrumb {
    text-decoration: none;
}

a.breadcrumb:hover {
    text-decoration: underline;
}

/* Responsive */
@media only screen and (min-width: 541px) and (max-width: 768px) {
    /*.featured-list {
        grid-template-columns: 1fr 1fr;
    }*/

    .name {
        font-size: 2em;
        display: inline-block;
    }

    .name-description {
        font-size: 1.25em;
    }


    .logo-img {
        width: 1.5em;
        height: 1.5em;
    }

}

@media only screen and (min-width: 769px) {
    /* .featured-list {
        grid-template-columns: 1fr 1fr 1fr;
    }*/

    .name {
        font-size: 2.5em;
        display: inline-block;

    }



    .logo-img {
        width: 2em;
        height: 2em;
    }

    .name-description {
        font-size: 1.5em;
    }



}