article {
}


h1, h2, h3, h4, h5, h6{
	    color: #366185;

}


p{
	margin: 5vh 0 5vh 0;
}

.hero-image {
   display: block;
   margin: auto auto;
   /* padding: 3vh 2vw 0 2vw;*/
   max-width: 100%;
   
}

li{
	padding: 0.25em;
}