article {
}


h1,
h2,
h3,
h4,
h5,
h6 {
    color: #366185;
}


p {
    margin: 5vh 0 5vh 0;
}

.subhead{
    color: #366185;
}

li {
    padding: 0.25em;
}

.hero-image {
    display: block;
    margin: auto auto;
    width: 100%;
}

